<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= usuario.apellido %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= usuario.codigo %>
  </p>

  <p>
    <strong>Distrito:</strong>
    <%= usuario.distrito %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= usuario.edad %>
  </p>

</div>
